<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Log Book</title>
    <link rel="stylesheet" href="/dashboard.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="dashboard">
        <div class="dashboard-heading">
          <div class="logos">
            <i class="fa-brands fa-dailymotion"></i>
            <h1>Daily Log Book</h1>
          </div>
          <p>Track your daily logs and events</p>
        </div>
        <div class="dashboard-btn">
          <a href="/addlog"
            ><button><i class="fa-solid fa-plus"></i> Add Log</button></a
          >
        </div>
      </div>
      <div class="details">
        <a href="/loglist/totallog">
          <div class="total-logs total">
            <i class="fa-solid fa-book-open"></i>
            <p>Total Logs</p>
            <h3><%= userLog.length %></h3>
          </div>
        </a>
        <a href="/loglist/week">
          <div class="total-logs this-week">
            <i class="fa-solid fa-calendar-days"></i>
            <p>This Week</p>
            <h3><%= userThisWeekLog.length %></h3>
          </div>
        </a>
        <a href="/loglist/solved">
          <div class="total-logs solved">
            <i class="fa-solid fa-circle-check"></i>
            <p>Solved</p>
            <h3><%= userSolvedLog.length %></h3>
          </div>
        </a>
        <a href="/loglist/pending">
          <div class="total-logs pending">
            <i class="fa-solid fa-clock"></i>
            <p>Pending</p>
            <h3><%= userPendingLog.length %></h3>
          </div>
        </a>
      </div>
      <div class="wrapper">
        <div class="recent-logs">
          <div class="log-heading">
            <i class="fa-solid fa-clock-rotate-left">
              <h2>Recent Logs</h2>
            </i>

           <% let count = 0; 
           userLog.slice(0, 4).forEach((log) => { 
                  const status = log.status === "Solved" ? "green" : "orange";
              %>
                <div class="log <%= status %>">
                  <div class="log-name">
                    <h3><%= count += 1 %>. <%= log.description %></h3>
                    <p><%= log.reportedBy %> · <%= log.date %> | <%= log.time %></p>
                  </div>
                  <div class="log-btn">
                    <a href="/viewlog/<%= log.id %>">
                      <button>View</button>
                    </a>
                  </div>
                </div>
              <% }) %>
          </div>
        </div>
        <div class="pending-logs">
          <div class="log-heading">
            <i class="fa-solid fa-clock">
              <h2>Pending Logs</h2>
            </i>

            <% let pendingCount = 0; 
            userPendingLog.slice(0,4).forEach((pending) =>{
              %>
                <div class="log orange">
                  <div class="log-name">
                    <h3><%= pendingCount += 1 %>. <%= pending.description %></h3>
                    <p><%= pending.reportedBy %> · <%= pending.date %> | <%= pending.time %></p>
                  </div>
                  <div class="log-btn">
                    <a href="/viewlog/<%= pending.id %>">
                      <button>View</button>
                    </a>
                  </div>
                </div>
              <%
            }) %>
          </div>
        </div>
        <div class="pending-logs">
          <div class="log-heading">
            <i class="fa-solid fa-clock">
              <h2>Today's Chart Data</h2>
            </i>
            <div class="chart">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'doughnut',
        data : {
          labels: [
            'Total Logs',
            'Solved',
            'Pending'
          ],
          datasets: [{
            label: new Date().toDateString(),
            data: [<%= data.c %>, <%= data.b %>, <%= data. a %>],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              suggestedMax: 10,
              ticks: {
                stepSize: 1,
              }
            }
          }
        }
      });
    </script>
  </body>
</html>
