<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Log | Log Book</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="title"><span>Add Log</span></div>
      <form id="myForm" action="/edit/<%= id %>" method="post">
        <% if(msg && msg.length > 0){ %>
          <div class="row">
            <p class="error"><%= msg %></p>
          </div>
          <%  } %>
        <div class="rows date-time">
          <div class="date">
            <label for="">Issue Date</label>
            <input type="date" name="date" value="<%= date %>" required />
          </div>
          <div class="time">
            <label for="">Issue Time</label>
            <input type="time" name="time" value="<%= time %>" required />
          </div>
        </div>
        <div class="rows">
          <label for="">Reported By</label>
          <input type="text" name="report" value="<%= reportedBy %>" required />
        </div>
        <div class="rows">
          <label for="">Issue Location</label>
          <input type="text" name="location" value="<%= location %>" required />
        </div>
        <div class="rows">
          <label for="">Issue Description</label>
          <input type="text" name="description" value="<%= description %>" required />
        </div>
        <div class="rows">
          <label for="">Action Taken</label>
          <textarea name="action" rows="3" value="" id="action"><%= action %></textarea>
        </div>
        <div class="rows">
          <label for="">Status</label>
            <select name="status" id="status">
                <option value="">----- Select ------</option>
                <option value="Solved" <%= status === "Solved" ? "selected" : "" %>>
                    Solved
                </option>
                <option value="Pending" <%= status === "Pending" ? "selected" : "" %>>
                    Pending
                </option>
            </select>

        </div>
        <div class="row button">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </body>
  <script>
  const form = document.getElementById("myForm");

    form.addEventListener("submit", () => {
      setTimeout(() => {
        form.reset();
      }, 0);
    });
</script>
</html>
