<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Log | Log Book</title>
    <link rel="stylesheet" href="/dashboard.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="dashboard">
        <div class="dashboard-heading">
          <div class="logos">
            <i class="fa-brands fa-dailymotion"></i>
            <h1>Daily Log Book</h1>
          </div>
          <p>Track your daily logs and events</p>
        </div>
        <div class="dashboard-btn">
          <a href="/addlog"
            ><button><i class="fa-solid fa-plus"></i> Add Log</button></a
          >
        </div>
      </div>
      <div
        class="ticket-card <%= viewLog.status === 'Solved' ? 'green' : 'orange' %>"
      >
        <div class="ticket-header">
          <div class="ticket-title"><%= viewLog.description %></div>
          <div class="ticket-date">
            <%= viewLog.date %> | <%= viewLog.time %>
          </div>
        </div>

        <div class="ticket-info">
          <div class="info-box">
            <span>Reported By</span>
            <%= viewLog.reportedBy %>
          </div>
          <div class="info-box">
            <span>Location</span>
            <%= viewLog.location %>
          </div>
        </div>

        <%  if(viewLog.status === 'Solved'){ %>
          <div class="status"><i class="fa-solid fa-circle-check"></i> Solved By <%= name %></div>
       <% } else{
          %>
          <a href="#"><div class="working"><i class="fa-solid fa-clock"></i>  <%= viewLog.status %></div></a>
      <% } %>
        <div class="action-title">Action Taken</div>
        <div class="action-text"><%= viewLog.action %></div>
      </div>
    </div>
  </body>
</html>
